<form method="POST" action="<%= url %>?_method=DELETE">
  <button
    style="margin-right: -23px; margin-bottom: 20px"
    class="btn-floating halfway-fab red"
    type="submit"
  >
    <i class="fas fa-trash fa-small"> </i>
  </button>
</form>
