<nav>
<div class="nav-wrapper">
  <a href="#!" class="brand-logo center">StoryBook</a>
  <ul class="left hide-on-med-and-down">
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/auth/logout">logout</a></li>
    <li ><a href="/stories/public">Public Stories</a></li>
  </ul>
</div>
</nav>
    
